<<<<<<< HEAD
.quiz
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}
.subtitle
{
=======
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.subtitle {
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px black;
    padding: 5px 10px;
}
<<<<<<< HEAD
.quizInfo
{
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   margin: 10px;
=======

.quizInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
}