<<<<<<< HEAD
.content
{
    display: flex;
    justify-content: space-around;
}
.settings
{
    width:45%;
=======
.content {
    display: flex;
    justify-content: space-around;
}

.settings {
    width: 45%;
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
    font-family: "Poppins",sans-serif;
    font-weight: 300;
}

.banner
{
=======
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.banner {
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
    width: 55%;
    align-self: center;
    padding: 8px;
}

<<<<<<< HEAD
@media(max-width:800px)
{
    .content
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .settings
    {
        width:100%;
    }
    
    .banner
    {
        width: 85%;
        padding-top: 20px;
        padding: 0;
    }   
}

.settings_select
{
=======
@media(max-width:800px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .settings {
        width: 100%;
    }

    .banner {
        width: 85%;
        padding-top: 20px;
        padding: 0;
    }
}

.settings_select {
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
}