.title
{
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat",sans-serif;
<<<<<<< HEAD
=======
    cursor: pointer;
>>>>>>> fbb9a19555c0bbec51ed6ad2128705d60bde9a3f
}
.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider
{
    margin: 10px;
    width: 100%;
    background-color: grey;
}